<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">

<head>
    <title layout:fragment="title">Edit Book</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Edit Book</h1>
    <form th:action="@{'/admin/book/edit/' + ${book.id}}" method="post" enctype="multipart/form-data"
          class="book-form-container">
        <input type="text" name="title" th:value="${book.title}" required/><br/>
        <input type="text" name="author" th:value="${book.author}" required/><br/>
        <textarea name="description" th:text="${book.description}"></textarea><br/>
        <input type="number" name="totalCopies" th:value="${book.totalCopies}" required/><br/>

        <select name="categoryId" required>
            <option th:each="cat : ${categories}"
                    th:value="${cat.id}"
                    th:selected="${cat.id} == ${book.category.id}"
                    th:text="${cat.name}"></option>
        </select><br/>

        <img th:src="@{${book.image.path}}" style="width:150px;height:150px;object-fit:cover"/><br/>
        <input type="file" name="imageFile"/><br/>

        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>